body h1 {

    padding-bottom:30px;
    text-align:center;
    margin:0;
    text-decoration:none;
    color:black;

}
body h2{
  border-left: gray 0.5px solid;
  border-right: gray  0.5px solid;
  text-align:center;
  margin-bottom:3px;
  margin-top:0;
  text-decoration:none;
  color:black; style="color:black"
}
#jemititle{
  border-bottom: gray 1px solid;
  box-shadow: 0px 15px 20px 0px #607D8B;

}
#top{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  border-bottom:gray 1.5px solid;
  text-align:center;
  margin-bottom:30px;
  padding-bottom: 20px;
  text-decoration:none;
  color: black;
}
#login{
  text-align:right;
  margin:0;
  color:black;
}
#image {
  border-bottom: 10px gray double;
  padding-bottom:10px;
  padding-bottom-color:black;
}
#service{
  text-align:center;
  border:0;
  font-size: 22pt;
  color: #FFC107;

}
.border{
  border-bottom: 10px gray double;
}
.jemok{
  text-align: center;
}
#line{

  border-top:10px #009688 solid;
  background-color: #009688;
  text-decoration-color: white;
}
#beta{
  color:red;
  font-size: 10pt;
  font-style: normal;
  font-weight: lighter;
  font-family: sans-serif;
}
#media{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}
#media1{
  display: grid;
  grid-template-rows: 40px 1fr;}
#nobadak{
  height: 100%;
  weight:100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#table{
  border:5px black solid;
}
#button{
  height: 100%;
  width:  40px;

}
#memo{
  border:6px #03a9f4 solid;
  color: #03a9f4;
  font-size: 15pt;

}
#media3
{
  display: grid;
  grid-template-columns:1fr ;
}
#today-date
{
  display: grid;
  grid-template-columns: 1fr;
}
( background-image: url("title.jpg");
  background-position: center center;
  background-repeat: no-repeat;)
