body h1 {

    padding-bottom:30px;
    text-align:center;
    margin:0;
    text-decoration:none;
    color:black;
}
body h2{
  border-left: gray 0.5px solid;
  border-right: gray  0.5px solid;
  text-align:center;
  margin-bottom:3px;
  margin-top:0;
  text-decoration:none;
  color:black; style="text-color:black"
}
#top{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  border-bottom:gray 1.5px solid;
  text-align:center;
  margin-bottom:30px;
  padding-bottom: 20px;
  text-decoration:none;
}
#login{
  text-align:right;
  margin:0;
  color:black;
}
img {
  border-bottom: 10px gray double;
  padding-bottom:10px;
  padding-bottom-color:black;
}
#service{
  text-align:center;
  border:0;
  font-size: 22pt;
  color: #FFC107;
}

#line{

  border-top:10px #009688 solid;
  background-color: #009688;
  text-decoration-color: white;
}
#beta{
  color:red;
  font-size: 10pt;
  font-style: normal;
  font-weight: lighter;
  font-family: sans-serif;
}
#media{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}
#media1{
  display: grid;
  grid-template-rows: 40px 1fr;
}

#id{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
